<div class="container">
    <hr id="about">
    <article>
        <p >O NAS</p>
        Zajmujemy się praniem tapicerki samochodowej oraz meblowej przy użyciu profesjonalnego sprzętu oraz użyciu odpowiednich środków. Oferujemy kompleksowe czyszczenie samochodów osobowych, dostawczych oraz ciężarowych. Świadczymy również usługi dezynfekcji i ozonowania pojazdów oraz pomieszczeń mieszkalnych.
    </article>
    
    <hr id="price">
    <article>
        <p>CENNIK</p>
        <div class="price">
            <table cellspacing="0">
                <tr>
                    <td>
                        <b>
                            Pranie tapicerki
                        </b>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Narożniki</td>
                    <td>150-300zł</td>
                </tr>
                <tr>
                    <td>Kanapy i wersalki</td>
                    <td>80-150zł</td>
                </tr>
                <tr>
                    <td>Sofa 2 osobowa</td>
                    <td>80-100zł</td>
                </tr>
                <tr>
                    <td>Poduszka meblowa</td>
                    <td>10-20zł</td>
                </tr>
                <tr>
                    <td>Materac jednostronnie</td>
                    <td>60-80zł</td>
                </tr>
                <tr>
                    <td>Fotele</td>
                    <td>40-60zł</td>
                </tr>
                
                <tr>
                    <td> 
                        <b>
                            Dywany i wykładziny
                        </b>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Dywany</td>
                    <td>12-15zł/m<sup>2</sup></td>
                </tr>
                <tr>
                    <td>Wykładziny do 50m<sup>2</sup></td>
                    <td>10-12zł/m<sup>2</sup></td>
                </tr>
                <tr>
                    <td>Wykładziny do 100m<sup>2</sup></td>
                    <td>8-10zł/m<sup>2</sup></td>
                </tr>

                <tr>
                    <td>
                        <b>
                            Pranie tapicerki samochodowej
                        </b>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Kompleksowe czyszczenie środka</td>
                    <td>300-500zł</td>
                </tr>
                <tr>
                    <td>Fotel</td>
                    <td>50zł</td>
                </tr>
                <tr>
                    <td>Tylna kanapa</td>
                    <td>100zł</td>
                </tr>
                <tr>
                    <td>Kompleksowe czyszczenie ciągnika siodłowego</td>
                    <td>od 400zł</td>
                </tr>
            </table>
        </div>
    </article>

    <hr id="opinions">
    <article>
        <p id="koniec">OPINIE</p>
        <div class="opinion">
            <div class="stars">
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="time">tydzień temu</span>
            </div>
            <div class="opinion--text">
                Zdecydowałam się na kompleksowe sprzątanie mojego autka i był to strzał w 10. Tapicerka została wyprana bardzo starannie a wnętrze po czyszczeniu wygląda jak wtedy kiedy auto wyjeżdżało z salonu! Jestem mega zadowolona z usługi i profesjonalizmu firmy i z pewnością ponownie skorzystam w przyszłości.
            </div>
            <div class="opinion--author">
                Julita Wysoczańska
            </div>
        </div>
        <div class="opinion">
            <div class="stars">
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="time">2 tygodnie temu</span>
            </div>
            <div class="opinion--text">
                Polecam! Pan Michał robi to z pasji, a wiemy jak to wtedy genialnie wychodzi. Przystępny stosunek ceny do jakości.
            </div>
            <div class="opinion--author">
                Karollo Tarrasino
            </div>
        </div>
        <div class="opinion">
            <div class="stars">
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="time">4 tygodnie temu</span>
            </div>
            <div class="opinion--text">
                Polecam usługę prania tapicerki! Moje auto nigdy nie było tak czyste i pachnące jak po wizycie u Pana Michała
            </div>
            <img class="opinion--img" src="../../assets/opinia_YaeMKas.PNG" alt="Zdjęcie z opinii - wyprany Fiat Punto">
            <div class="opinion--author">
                YaeMKas
            </div>
        </div>
        <div class="opinion">
            <div class="stars">
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="material-symbols-outlined star">star</span>
                <span class="time">4 tygodnie temu</span>
            </div>
            <div class="opinion--text">
                Profesjonalna usługa, bardzo dobry kontakt oraz miły gratis od firmy który choć nie był w zakresie ustalonych prac a jednak wywołał u mnie największą radość ;)
            </div>
            <img class="opinion--img" src="../../assets/opinia_anna.PNG" alt="Zdjęcie z opinii - wyprany Fiat Punto">
            <div class="opinion--author">
                Anna Stecka
            </div>
        </div>
    </article>

    <hr id="photos"> 
    <article>
        <p>Galeria</p>

        <div class="car">
            <div class="car--photos">Mercedes C-class</div>
            <hr class="car--hr">
            <img src="../../assets/1.jpg" alt="wyprane drzwi od środka">
            <img src="../../assets/2.jpg" alt="wyprane drzwi od środka">
            <img src="../../assets/3.jpg" alt="wyprane drzwi od środka">
        </div>

        <div class="car">
            <div class="car--photos">Mercedes C-class</div>
            <hr class="car--hr">
            <img src="../../assets/1.jpg" alt="wyprane drzwi od środka">
            <img src="../../assets/2.jpg" alt="wyprane drzwi od środka">
            <img src="../../assets/3.jpg" alt="wyprane drzwi od środka">
        </div>
    </article>

    <hr id="contact">
    <article>
        <p class="open-time" >Godziny otwarcia</p>
        <div class="open-time--text">
            Od poniedziałku do soboty w godzinach 9-20
        </div>
    </article>

    <hr>
    <article>
        <p>Kontakt z nami</p>
        <a target="_blank" href="https://www.google.pl/maps/dir//MProject+-+pranie+tapicerki,+czyszczenie+dywanów,+autodetailing+Gorzów,+Konopnickiej+5,+66-400+Gorzów+Wielkopolski/@52.7349676,15.1862631,13z/data=!4m9!4m8!1m0!1m5!1m1!1s0x47071fc534c795cf:0x3915efc0a1c8bf57!2m2!1d15.2213682!2d52.7349728!3e0">
            <img class="maps" src="../../assets/maps.PNG" alt="">
        </a>

    </article>
</div>
<div class="reset"></div>