<nav>
    <div (click)="hamburgerToggle()" [class.active]="hamburger" class="burger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="name">
        MProject
    </div>

    <div class="bottom-nav">
        <div class="nav tel">
            <a href="tel:500 619 998">
                <span class="material-symbols-outlined">
                    call
                </span>
                <span>
                    Zadzwoń
                </span>
            </a>
        </div>
        <div class="nav route">
            <a target="_blank" href="https://www.google.pl/maps/dir//MProject+-+pranie+tapicerki,+czyszczenie+dywanów,+autodetailing+Gorzów,+Konopnickiej+5,+66-400+Gorzów+Wielkopolski/@52.7349676,15.1862631,13z/data=!4m9!4m8!1m0!1m5!1m1!1s0x47071fc534c795cf:0x3915efc0a1c8bf57!2m2!1d15.2213682!2d52.7349728!3e0">
                <span class="material-symbols-outlined">
                    map
                </span>
                <span>
                    Wyznacz trasę
                </span>
            </a>
        </div>
    </div>
</nav>

<div class="leftSide" [class.leftSide--active]="hamburger">
    <ul>
        <li>
            <a (click)="hamburgerToggle()" href="#about">
                O nas
            </a>
        </li>
        <li>
            <a (click)="hamburgerToggle()" href="#price">
                Cennik
            </a>
        </li>
        <li>
            <a (click)="hamburgerToggle()" href="#opinions">
                Opinie
            </a>
        </li>
        <li>
            <a (click)="hamburgerToggle()" href="#photos">
                Galeria
            </a>
        </li>
        <li>
            <a (click)="hamburgerToggle()" href="#contact">
                Kontakt
            </a>
        </li>
    </ul>
</div>